 @media only screen and (max-width: 768px) {
 .main_logo{
        width: 230px;
 }
 .main{
       font-size: 39px;
 }
 .card {
  height: 640px !important;
}
.min{
      margin-top: -100px !important;
}
.navbar-toggler{
      margin-right: 10px;
}
.about-img{
      height: 300px;
}
}